<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange Rate Table</title>

    <link rel="stylesheet" href="~/css/styleOnePageTable.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-left">
                <a class="navbar-brand" href="/">Exchange Rates Application</a>
                <a class="nav-link" href="/Home">Home</a>
                <a class="nav-link" href="/About">About Us</a>
                <a class="nav-link" href="/Privacy">Privacy</a>
            </div>

            <div class="navbar-right">
                <a class="nav-icon" href="https://github.com/RadoslavNikolov23" target="_blank" title="GitHub">
                    <i class="fab fa-github"></i>
                </a>
                <a class="nav-icon" href="mailto:radonikolov23@gmail.com" title="Gmail">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script>
        // Adding selection behavior for rows
        document.querySelectorAll("tr").forEach(function(row) {
            row.addEventListener("click", function() {
                document.querySelectorAll("tr").forEach(function(innerRow) {
                    innerRow.classList.remove("selected");
                });
                row.classList.add("selected");
            });
        });
    </script>
</body>
</html>

<footer>
    <p>&copy; @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year </p>
</footer>


@RenderSection("Scripts", required: false)

